#js-root__info {
  width: 100%;
  background-color: #303030;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #595959;
  padding: 10px;
}

#js-root__controls__room__id--display {
  width: 100%;
  background-color: #4d4d4d;
  border-bottom: 1px solid #333;
  padding: 15px;
}

#js-root__controls__room__id--display-id {
  font-family: 'Roboto--thin';
}

#js-root__controls__room__id__inputs--input {
  width: calc(100% - 65px);
  background-color: #999999;
  color: white;
  font-family: 'Roboto';
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#js-root__controls__room__id__inputs--input:focus:not([disabled]) {
  border: 1px solid white;
  outline: none;
}

#js-root__controls__nick {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #333;
  padding: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0px;
}

#js-root__controls__nick--status {
  height: 16px;
  width: 16px;
  border: 1px solid transparent;
  border-radius: 10px;
}

#js-root__controls__nick--nick {
  width: calc(100% - 18px);
  font-family: 'Dosis--bold';
  font-size: 16px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px;
}

#js-root__chat__messages {
  height: calc(100% - 101px);
  width: 90%;
  font-family: 'Dosis';
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-top: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

#js-root__chat__input__button--emoji {}

#js-root__chat__input__message {
  width: calc(100% - 54px);
  background-color: #4D4D4D;
  color: white;
  font-family: 'Dosis';
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#js-root__chat__input__message:focus:not([disabled]) {
  border: 1px solid white;
  outline: none;
}

#js-root__chat__input__button--send {}

.js-channel {
  font-family: 'Roboto--thin';
}

.js-online {
  background-color: #43b582;
}

.js-afk {
  background-color: #faa81a;
}

.js-dnd {
  background-color: #f04747;
}

.js-hide {
  display: none !important;
}