* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #333;
  color: white;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

/* fonts */
@font-face {
  font-family: Dosis;
  src: url('../fonts/Dosis/Dosis-Regular.ttf');
}

@font-face {
  font-family: Dosis--light;
  src: url('../fonts/Dosis/Dosis-Light.ttf');
}

@font-face {
  font-family: Dosis--medium;
  src: url('../fonts/Dosis/Dosis-Medium.ttf');
}

@font-face {
  font-family: Exo;
  src: url('../fonts/Exo 2.0/Exo2-Regular.otf');
}

@font-face {
  font-family: Exo--bold;
  src: url('../fonts/Exo 2.0/Exo2-Bold.otf');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto--thin;
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}