.message {
  width: 90%;
  word-break: break-all;
}

.message__timestamp {
  word-break: break-all;
}

.message__author {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 8px;
}

.message__content {
  word-break: break-all;
}